$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray:hsl(0, 0%, 59%);
$very-darkblue:hsl(209, 33%, 12%);
$font-family:'Libre Franklin',
sans-serif;
$font-weight-normal:300;
$font-weight-semibold:600;
$font-weight-bold: 700;
#top {
    text-align: center;
    padding: 3% 0 1% 0;
}

#middle {
    .middle-cont {
        text-align: center;
        h1 {
            font-size: 60px;
            font-weight: $font-weight-normal;
            color: $gray;
            em {
                text-emphasis: none;
                font-weight: $font-weight-bold;
                color: black !important;
            }
        }
        h3 {
            font-family: $font-family;
            font-size: 25px;
            font-weight: $font-weight-normal;
            padding-top: 1%;
        }
        .row {
            padding: 2% 20%;
            .notify-btn {
                background-color: $blue;
                color: white;
                border-radius: 25px;
                align-items: stretch;
                padding: 4% 8%;
                height: 50px;
                width: 100%;
                font-family: $font-family;
                font-weight: $font-weight-semibold;
            }
            .form-rounded {
                border-radius: 2rem;
                align-items: stretch;
                height: 50px;
            }
        }
        img {
            width: 100%;
            padding: 3% 20%;
        }
    }
}

.cta-cont {
    margin: 3% 42%;
    .fas-footer {
        padding: 0 2%;
        &:hover {
            color: $blue;
        }
    }
}

@media screen and (max-width:789px) {
    #top {
        text-align: center;
        padding: 3% 0 3% 0;
    }
    #middle {
        .middle-cont {
            text-align: center;
            h3 {
                padding-top: 5%;
            }
            .row {
                padding: 4% 20%;
                .notify-btn {
                    margin: 3% 0;
                }
            }
            img {
                width: 100%;
                padding: 3% 1%;
            }
        }
    }
    .cta-cont {
        margin: 3% 42%;
        .fas-footer {
            padding: 0 2%;
            &:hover {
                color: $blue;
            }
        }
    }
}

//validation field
.hide {
    display: none;
}

.error {
    color: red;
    font-size: 0.8em;
    font-family: sans-serif;
    font-style: italic;
}